<!--MODALDEBUT-->
<div>
    <a #trigger data-toggle="modal" href="#showModal" style="visibility: none;"></a>
    <div #showModal id='showModal' class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" #modalTitre></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div *ngFor="let item of livreDispoTitres" class="modal-body">
                    <p style="text-align: justify;" #modalContenu>{{item}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" #modalFermer></button>
                </div>
            </div>

        </div>
    </div>
</div>
<!--MODALFIN-->
<div class="container">
    <div class="jumbotron text-left">
        <h1>Catalogue</h1>
        <h3>Vous trouverez ici tous les livres disponibles sur notre plateforme</h3>
        <button type="button" class="collapsible" style="text-align: right;">Pourquoi ne puis-je pas prendre de livre ?</button>
        <div class="content">
            <p style="text-align: justify;">Notre plateforme est basée sur l'échange entre utilisateurs. Pour pouvoir prendre un livre, il faut donc que vous ayez suffisamment de crédits. Chaque livre valant un crédit, il vous faudra donner un livre avant de pouvoir en prendre un.</p>
        </div>
    </div>
    <ul style="list-style-type: none; padding:0;">
        <li *ngFor="let a of j.slice().reverse(); let i = index">
            <div class="table-responsive">
                <table class="table table-dark" style="align-items: center;">
                    <tr>
                        <td rowspan="6" style="width: 300px; text-align: center;">
                            <img style="width: 200px;" [src]="k[j.length - i-1]">
                        </td>
                        <td>
                            <div *ngIf="a.Titre; else ng1">
                                <h3>Titre : {{a.Titre}}</h3>
                            </div>
                            <ng-template #ng1>
                                <h3>Titre : Indisponible</h3>
                            </ng-template>
                        </td>
                        <td style="text-align: right;">
                            <button class="btn btn-primary clickable" style="display: none;"
                                (click)="takeLivre($event)">Je&nbsp;le&nbsp;veux&nbsp;!</button>
                            <button class="btn btn-primary"
                                style="visibility: hidden;">Je&nbsp;le&nbsp;veux&nbsp;!</button>
                        </td>
                    </tr>
                    <tr style="vertical-align:top;">
                        <td>
                            <div>
                                <p>Auteur(s) :</p>
                                <ul *ngFor="let c of p[j.length - i-1]">
                                    <li *ngIf="c.Nom_complet.length != 0; else pasAuteur">{{c.Nom_complet}}</li>
                                    <ng-template #pasAuteur>
                                        <li>Auteur indisponible</li>
                                    </ng-template>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr style="vertical-align:top;">
                        <td>
                            <div *ngIf="a.Description; else ng3">
                                <p style="text-align: justify;">Description : {{a.Description}}</p>
                            </div>
                            <ng-template #ng3>
                                <p>Description : Indisponible</p>
                            </ng-template>
                        </td>
                    </tr>
                    <tr style="vertical-align:top;">

                        <td>
                            <div *ngIf="a.Editeur; else ng4">
                                <p>Editeur : {{a.Editeur}}</p>
                            </div>
                            <ng-template #ng4>
                                <p>Editeur : Indisponible</p>
                            </ng-template>
                        </td>
                    </tr>
                    <tr style="vertical-align:top;">
                        <td>
                            <div>
                                <p>Genre(s) : </p>
                                <ul *ngFor="let b of m[j.length - i-1]">
                                    <li>{{b.Genre}}</li>
                                </ul>
                            </div>
                            <ng-template #ng5>
                                <p>Genre : Indisponible</p>
                            </ng-template>
                        </td>
                    </tr>
                    <tr style="vertical-align:top;">
                        <td>
                            <div>
                                <p>ISBN : {{a.ISBN}}</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
</div>