<div class="container">
    <ul style="list-style-type: none;">
        <li *ngFor="let a of j.slice().reverse(); let i = index">
            <div class="table-responsive">
                <table class="table table-dark" style="align-items: center;">
                    <tr>
                        <td rowspan="6" style="width: 300px; text-align: center;">
                            <img style="width: 200px;" [src]="k[i]">
                        </td>
                        <td>
                            <div *ngIf="a.Titre; else ng1">
                                <h3>Titre : {{a.Titre}}</h3>
                            </div>
                            <ng-template #ng1>
                                <h3>Titre : Indisponible</h3>
                            </ng-template>
                        </td>
                        <td style="text-align: right;">
                            <button class="btn btn-primary">Je&nbsp;le&nbsp;veux&nbsp;!</button>
                        </td>
                    </tr>
                    <tr style="vertical-align:top;">
                        <td>
                            <div *ngIf="a.Nom_complet; else ng2">
                                <p>Auteur : {{a.Nom_complet}}</p>
                            </div>
                            <ng-template #ng2>
                                <p>Auteur : Indisponible</p>
                            </ng-template>
                        </td>
                    </tr>
                    <tr style="vertical-align:top;">
                        <td>
                            <div *ngIf="a.Description; else ng3">
                                <p style="text-align: justify;">Description : {{a.Description}}</p>
                            </div>
                            <ng-template #ng3>
                                <p>Description : Indisponible</p>
                            </ng-template>
                        </td>
                    </tr>
                    <tr style="vertical-align:top;">

                        <td>
                            <div *ngIf="a.Editeur; else ng4">
                                <p>Editeur : {{a.Editeur}}</p>
                            </div>
                            <ng-template #ng4>
                                <p>Editeur : Indisponible</p>
                            </ng-template>
                        </td>
                    </tr>
                    <tr style="vertical-align:top;">
                        <td>
                            <div>
                                <p>Genre(s) : </p>
                                <ul *ngFor="let b of m[i]">
                                    <li>{{b.Genre}}</li>
                                </ul>
                            </div>
                            <ng-template #ng5>
                                <p>Genre : Indisponible</p>
                            </ng-template>
                        </td>
                    </tr>
                    <tr style="vertical-align:top;">
                        <td>
                            <div>
                                <p>ISBN : {{a.ISBN}}</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
</div>