<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="/">BookShare</a>
    <ul class="navbar-nav nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="register">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="add">Ajouter un livre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="display">Catalogue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="wishlist">Liste de souhaits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="recommandations">Recommandations</a>
      </li>
    </ul>
</nav>
<div class="container">
  <router-outlet>
  </router-outlet>
</div>