<div class="jumbotron text-center">
    <h1>BookShare</h1>
    <h2>La première plateforme suisse d'échange de livres</h2>
    <p class="text-justify">Vous avez déjà lu tous vos livres et ils vous prennent de la place ? Vous voudriez en acquérir d'autres mais vous n'avez pas les moyens ? Découvrez notre toute nouvelle plateforme "ShareBook", la première plateforme suisse d'échanges de livre. Avec ShareBook, les livres des uns font le bonhneur des autres. C'est pourquoi chaque livre mis à disposition du site vous permet d'en acquérir un gratuitement. Un donné pour un rendu, de quoi avoir de la lecture pour des années!</p>
</div>
<div class="container fluid">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="text-center">Ecologique</h3>
            <p class="text-justify">L'échange et la réutilisation des livres permet d'éviter les réimpressions inutiles.</p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Economique</h3>
            <p class="text-justify">Plus besoin de dépenser ! Un autre utilisateur possède déjà le livre que vous cherchez !</p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Responsable</h3>
            <p class="text-justify">Le partage se perd de plus en plus. Notre plateforme permet de retrouver les valeurs d'antan de façon pratique et utile à tous !</p>
        </div>
    </div>
</div>